<div class="container-fluid py-5" id="event">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Svadba</h6>
      <h1 class="font-secondary display-4">Náš svadobný deň</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h5 class="font-weight-normal text-muted mb-3 pb-3">
          Svadobný obrad sa bude konať v Kostole Nanebovzatia Panny Márie v Topoľčanoch na námestí
          M.R.Štefánika o 15:00. Po obrade sa presunieme svadobným autobusom do dedinky Ostratice,
          kde sa bude konať v penzióne Harmónia svadobná hostina. O odvoz zo svadobnej hostiny sa
          nemusíte báť. Pre tých, čo nebudú ubytovaní priamo v penzióne bude zabezpečený odvoz domov.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 border-right border-primary">
        <div class="text-center text-md-right mr-md-3 mb-4 mb-md-0">
          <%= image_tag 'section4/v2/1.jpg', class: 'img-fluid mb-4', width: 300 %>
          <h4 class="mb-3">Obrad</h4>
          <p class="mb-2">Námestie M.R. Štefánika, Topoľčany</p>
          <p class="mb-0">15:00</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center text-md-left ml-md-3">
          <%= image_tag 'section4/v2/2.jpg', class: 'mb-4', width: 300 %>
          <h4 class="mb-3">Hostina</h4>
          <p class="mb-2">Penzión Harmónia, Ostratice</p>
          <p class="mb-0">~17:00</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <!--      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Event</h6>-->
      <h2 class="font-secondary display-4">Hostia</h2>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h5 class="font-weight-normal text-muted mb-3 pb-3">
          V tejto chvíli máme pozvaných <%= invitations.count %> hostí.
        </h5>
      </div>
    </div>
    <div class="row">
      <% invitations.each.with_index do |inv, inv_idx| %>
        <%= home_invitation_col_element(inv_idx + 1) do %>
          <h4 class="mb-3"><%= inv.name %></h4>
          <p class="mb-2"><%= inv.accepted? ? 'príde' : 'čakáme odpoveď' %></p>
          <!--          <p class="mb-0">12:00AM - 13:00PM</p>-->
        <% end %>


        <!--        <div class="col-md-6 border-right border-primary">-->
        <!--          <div class="text-center text-md-right mr-md-3 mb-4 mb-md-0">-->

        <!--            <h4 class="mb-3">The Reception</h4>-->
        <!--            <p class="mb-2">123 Street, New York, USA</p>-->
        <!--            <p class="mb-0">12:00AM - 13:00PM</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-md-6">-->
        <!--          <div class="text-center text-md-left ml-md-3">-->

        <!--            <h4 class="mb-3">Wedding Party</h4>-->
        <!--            <p class="mb-2">123 Street, New York, USA</p>-->
        <!--            <p class="mb-0">12:00AM - 13:00PM</p>-->
        <!--          </div>-->
        <!--        </div>-->
      <% end %>
    </div>
  </div>
</div>
