<div class="container-fluid py-5" id="family">
  <div class="container pt-5 pb-3">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Friends & Family</h6>
      <h1 class="font-secondary display-4">Groomsmen & Bridesmaid</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-2">
        <ul class="list-inline mb-4" id="portfolio-flters">
          <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".first">Groomsmen</li>
          <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".second">Bridesmaid</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
        <div class="position-relative mb-2">
          <%= image_tag 'groomsmen-1.jpg', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
        <div class="position-relative mb-2">
          <%= image_tag 'bridesmaid-1', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
        <div class="position-relative mb-2">
          <%= image_tag 'groomsmen-2.jpg', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
        <div class="position-relative mb-2">
          <%= image_tag 'bridesmaid-2', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
        <div class="position-relative mb-2">
          <%= image_tag 'groomsmen-3.jpg', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
        <div class="position-relative mb-2">
          <%= image_tag 'bridesmaid-3', class: 'img-fluid w-100' %>
          <div class="bg-secondary text-center p-4">
            <h4 class="mb-3">Full Name</h4>
            <p class="text-uppercase">Best Friend</p>
            <div class="d-inline-block">
              <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
