<%= render 'shared/navbar' %>
<%= render 'home/carousel' %>
<%#= render 'home/video_modal' %>
<%= render 'home/about' %>
<%= render 'home/story' %>
<%#= render 'home/gallery' %>
<%= render 'home/event', invitations: @invitations %>
<%= render 'home/friends_and_family' %>
<%= render 'home/rsvp' %>

<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-outline-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--<script src="lib/easing/easing.min.js"></script>-->
<!--<script src="lib/waypoints/waypoints.min.js"></script>-->
<!--<script src="lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--<script src="lib/isotope/isotope.pkgd.min.js"></script>-->
<!--<script src="lib/lightbox/js/lightbox.min.js"></script>-->

<!-- Template Javascript -->
<!--<script src="js/main.js"></script>-->
