<%= turbo_frame_tag dom_id(invitation) do %>
  <div class="manager-invitation">
    <div class="display-4 mb-2"><%= invitation.name %></div>
    <%= form_with model: [:manager, invitation] do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Meno na pozvánke', for: "invitation-name-#{invitation.id}" %>
        <%= f.text_field :name, id: "invitation-name-#{invitation.id}", class: 'form-control' %>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span class="mr-2">
            <%= f.check_box :accepted, id: "invitation-accepted-#{invitation.id}" %>
            <%= f.label :accepted, 'Príde', for: "invitation-accepted-#{invitation.id}" %>
          </span>
          <span class="mr-2">
            <%= f.check_box :overnight, id: "invitation-overnight-#{invitation.id}" %>
            <%= f.label :overnight, 'Prespí', for: "invitation-overnight-#{invitation.id}" %>
          </span>
        </div>
        <div>
          <%= link_to 'Zmazať', manager_invitation_path(invitation),
              data: {
                turbo_method: 'delete',
                turbo_confirm: "Pozvánka pre #{invitation.name} bude zrušená."
              } %>
        </div>
      </div>
      <div>
        <%= link_to 'link pre hosťa', edit_invitation_path(invitation), target: :_blank %>
        |
        <%= I18n.l(invitation.updated_at, format: :short) %>
      </div>
      <div class="text-right">
        <%= f.submit 'Uložiť' %>
      </div>
    <% end %>
  </div>
<% end %>
