<%= turbo_frame_tag dom_id(invitation) do %>
  <div class="manager-invitation">
    <div class="display-4 mb-2"><%= invitation.name %></div>
    <%= form_with model: [:manager, invitation] do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Meno na pozvánke', for: "invitation-name-#{invitation.id}" %>
        <%= f.text_field :name, id: "invitation-name-#{invitation.id}", class: 'form-control' %>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span class="mr-2">
            <%= f.check_box :accepted, id: "invitation-accepted-#{invitation.id}" %>
            <%= f.label :accepted, 'Príde', for: "invitation-accepted-#{invitation.id}" %>
          </span>
          <span class="mr-2">
            <%= f.check_box :overnight, id: "invitation-overnight-#{invitation.id}" %>
            <%= f.label :overnight, 'Prespí', for: "invitation-overnight-#{invitation.id}" %>
          </span>
        </div>

        <div>
          <%= link_to 'Zmazať', manager_invitation_path(invitation),
              data: {
                turbo_method: 'delete',
                turbo_confirm: "Pozvánka pre #{invitation.name} bude zrušená."
              } %>
        </div>
      </div>

      <div class="mb-2">
        <div class="mb-2">
          <div>Celkový počet ľudí (vrátane detí)</div>
          <% (1..4).each do |val| %>
            <div class="form-check form-check-inline">
              <%= f.radio_button :nr_persons, val, class: 'form-check-input' %>
              <%= f.label :nr_persons, "#{val}", class: 'form-check-label' %>
            </div>
          <% end %>
        </div>

        <div class="mb-2">
          <%= f.check_box :with_children, id: "invitation-with-children-#{invitation.id}" %>
          <%= f.label :with_children, 'Prídu aj deti', for: "invitation-with-children-#{invitation.id}" %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Email', for: "invitation-email-#{invitation.id}" %>
          <%= f.email_field :email, id: "invitation-email-#{invitation.id}", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :note, 'Špeciálne požiadavky (napr. strava/diéta)', for: "invitation-note-#{invitation.id}" %>
          <%= f.text_area :note, id: "invitation-note-#{invitation.id}", class: 'form-control' %>
        </div>
      </div>

      <div>
        <%= link_to 'link pre hosťa', edit_invitation_path(invitation), target: :_blank %>
        |
        posl. aktualiz. <%= I18n.l(invitation.updated_at, format: :short) %>
      </div>
      <div class="text-right">
        <%= f.submit 'Uložiť' %>
      </div>
    <% end %>
  </div>
<% end %>
