<!DOCTYPE html>
<html>
  <head>
    <title>Michal & Silvia - Svadba</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="51">
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476867/wedding/wy7eqqtx5hjbbzjfbzmm.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476866/wedding/lfgmpmqqxu7s3z3rcopf.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476866/wedding/uzh8geuxt2gjcbojqwal.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476865/wedding/tdoyqrxcycilw3v1hfwj.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476865/wedding/ps2rocqe7mxdyrrm3i1m.js"></script>
    <script src="https://res.cloudinary.com/diftw8ib1/raw/upload/v1706476864/wedding/ytbdd23qfyjgdahx1aeh.js"></script>
  </body>
</html>
